body{
    background-color: darkcyan;
}
.a1{
    color: blue;
    font-size: 10px;
    word-spacing: 5px;
}
.box{
    height: 20px;
    font-weight: 20px;
}
.card{
    background-color: cadetblue;
    box-shadow: 4px 4px 12px gray;
}